body {
    padding: 0;
    margin: 0;
    background-color: #f6faff;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container-1 {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    font-size: 50px;
}

.show-number {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.special-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}